In [1]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nara,JP,2021-09-02 01:08:25,34.6851,135.8049,78.08,97,100,5.70
1,1,Ushuaia,AR,2021-09-02 01:08:25,-54.8000,-68.3000,38.86,70,0,10.36
2,2,Arenapolis,BR,2021-09-02 01:08:26,-14.4503,-56.8461,83.37,35,78,4.54
3,3,Cassilandia,BR,2021-09-02 01:08:26,-19.1133,-51.7342,72.14,38,0,5.82
4,4,Narsaq,GL,2021-09-02 01:08:26,60.9167,-46.0500,48.42,86,100,3.87

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nara,JP,2021-09-02 01:08:25,34.6851,135.8049,78.08,97,100,5.70
2,2,Arenapolis,BR,2021-09-02 01:08:26,-14.4503,-56.8461,83.37,35,78,4.54
5,5,Victor Harbor,AU,2021-09-02 01:08:26,-35.5667,138.6167,83.46,31,32,24.94
10,10,Kavieng,PG,2021-09-02 01:08:28,-2.5744,150.7967,84.97,66,100,8.23
31,31,Kapaa,US,2021-09-02 01:08:33,22.0752,-159.3190,84.52,66,40,3.00
35,35,Bandarbeyla,SO,2021-09-02 01:08:34,9.4942,50.8122,77.18,80,11,20.98
39,39,Atuona,PF,2021-09-02 01:08:36,-9.8000,-139.0333,78.15,76,30,18.21
42,42,Hithadhoo,MV,2021-09-02 01:08:36,-0.6000,73.0833,81.84,73,41,6.53
55,55,Vaini,TO,2021-09-02 01:08:40,-21.2000,-175.2000,77.16,78,75,9.22
56,56,Gushikawa,JP,2021-09-02 01:08:40,26.3544,127.8686,87.39,70,40,5.75

In [10]:
preferred_cities_df.count()

City_ID       163
City          163
Country       163
Date          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0            Nara      JP     78.08  34.6851  135.8049
2      Arenapolis      BR     83.37 -14.4503  -56.8461
5   Victor Harbor      AU     83.46 -35.5667  138.6167
10        Kavieng      PG     84.97  -2.5744  150.7967
31          Kapaa      US     84.52  22.0752 -159.3190
35    Bandarbeyla      SO     77.18   9.4942   50.8122
39         Atuona      PF     78.15  -9.8000 -139.0333
42      Hithadhoo      MV     81.84  -0.6000   73.0833
55          Vaini      TO     77.16 -21.2000 -175.2000
56      Gushikawa      JP     87.39  26.3544  127.8686

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Nara,JP,78.08,34.6851,135.8049,Guesthouse Nara Komachi
2,Arenapolis,BR,83.37,-14.4503,-56.8461,Mato Grosso Hotel
5,Victor Harbor,AU,83.46,-35.5667,138.6167,McCracken Country Club
10,Kavieng,PG,84.97,-2.5744,150.7967,Nusa Island Retreat
31,Kapaa,US,84.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
35,Bandarbeyla,SO,77.18,9.4942,50.8122,JABIR HOTEL
39,Atuona,PF,78.15,-9.8000,-139.0333,Villa Enata
42,Hithadhoo,MV,81.84,-0.6000,73.0833,Scoop Guest House
55,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
56,Gushikawa,JP,87.39,26.3544,127.8686,Kirari Guest House

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [24]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))